spawn-at-startup "noctalia"

xwayland-satellite {
    path "xwayland-satellite"
}

input {
    focus-follows-mouse
    keyboard {
        xkb {
            layout "us,ua"
        }
        numlock
    }

    touchpad {
        tap
        natural-scroll
    }

    mouse {
        accel-profile "flat"
    }
}

layout {
    background-color "transparent"
    gaps 7
    
    focus-ring {
        width 2
    }

    struts {
        left 5
        right 5
        top 5
        bottom 5
    }
}

prefer-no-csd

window-rule {
    geometry-corner-radius 7
    clip-to-geometry true
}

// Put swaybg inside the overview backdrop.
layer-rule {
    place-within-backdrop true
}

binds {
    // Basic
    Mod+Return { spawn "kitty"; }
    Mod+Space { spawn "noctalia-shell" "ipc" "call" "launcher" "toggle"; }
    Mod+Q { close-window; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Alt+F { toggle-window-floating; }
    Mod+C { center-column; }


    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    // Finer height adjustments when in column with other windows.
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }


    // Focus (Vim motions)
    Mod+H { focus-column-left; }
    Mod+L { focus-column-right; }
    Mod+K { focus-window-up; }
    Mod+J { focus-window-down; }

    // Moving Windows (Vim motions)
    Mod+Shift+H { move-column-left; }
    Mod+Shift+L { move-column-right; }
    Mod+Shift+K { move-window-up; }
    Mod+Shift+J { move-window-down; }

    Mod+Semicolon  { consume-window-into-column; }
    Mod+Apostrophe { expel-window-from-column; }

    // Workspace Switching
    Mod+1 { focus-workspace "w1"; }
    Mod+2 { focus-workspace "w2"; }
    Mod+3 { focus-workspace "w3"; }
    Mod+4 { focus-workspace "w4"; }
    Mod+5 { focus-workspace "w5"; }

    // Move to Workspace
    Mod+Shift+1 { move-column-to-workspace "w1"; }
    Mod+Shift+2 { move-column-to-workspace "w2"; }
    Mod+Shift+3 { move-column-to-workspace "w3"; }
    Mod+Shift+4 { move-column-to-workspace "w4"; }
    Mod+Shift+5 { move-column-to-workspace "w5"; }

    // Media
    Mod+Alt+J { spawn "playerctl" "previous"; }
    Mod+Alt+L { spawn "playerctl" "next"; }
    Mod+Alt+K { spawn "playerctl" "play-pause"; }

    // Programs
    Mod+D { spawn "vesktop"; }
    // Custom Execs
    Mod+E { spawn "kitty" "-e" "fish" "-c" "y"; }
    Mod+B { spawn "zen"; }
    Mod+Alt+W { spawn "noctalia-shell" "ipc" "call" "wifi" "togglePanel"; }
    Mod+Alt+B { spawn "noctalia-shell" "ipc" "call" "bluetooth" "togglePanel"; }
}

workspace "w1"
workspace "w2"
workspace "w3"
workspace "w4"
workspace "w5"

include "./noctalia.kdl"

